<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>120052691140-v64fc6p2n20558ubvqjtjplp0kbpb39k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120052691140-v64fc6p2n20558ubvqjtjplp0kbpb39k</string>
	<key>API_KEY</key>
	<string>AIzaSyC4C96eeeE67RD4osyMB9GPUK9KxkLF12w</string>
	<key>GCM_SENDER_ID</key>
	<string>120052691140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ray.StatTracker-Basketball</string>
	<key>PROJECT_ID</key>
	<string>stattracker-6fea1</string>
	<key>STORAGE_BUCKET</key>
	<string>stattracker-6fea1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:120052691140:ios:bf77b6d5f4e87a35</string>
	<key>DATABASE_URL</key>
	<string>https://stattracker-6fea1.firebaseio.com</string>
</dict>
</plist>
